<template>
	<div>
		<div class="panel panel-default">
			<div class="panel-header">
				<genres :Type="Type"></genres>
			</div>
			<div class="panel-body">
				<div class="col-md-4" v-for="item in Items" :key="item.id">
					<div @click="Itemclicked(item)">
						<img class="col-xs-7" v-lazy="item.Poster" :alt="item.Title">
						<div class="col-xs-5">
							<p>{{item.Plot.slice(0, 50)}}...</p>
				            <h4>{{item.Title}}</h4>
						</div>
					</div>
					<span class="glyphicon glyphicon-info-sign" @click="showItemDetails(item)"></span>	
			    </div>
			</div>
		</div>
    </div>
</template>
<script>
import genres from './Genres.vue'
import Detail from './Detail.vue'

	export default {
		components : {
			Detail
		},
		props: [
			'Type'
		],
		components: {
			"genres": genres
		},
        data () {
            return {
                Items: '',
                Genre: 9999,
            }
        },
        mounted() {
        	var self = this
        	Event.$on('filterbyGenre', function (filteredgenre){
        		self.Genre = filteredgenre
        		self.getItems()	
        	})
        	this.getItems()
        },
        methods: {
            Itemclicked (item) {
            	var self = this
				Event.$emit('Itemclicked', {
					"Item": item,
					"Type": self.Type 
				})
            },
            getItems() {
            	axios.get('/' + this.Type +'/' + this.Genre)
	            .then(response => {
	            	this.Items = response.data
	            })
            },
            showItemDetails(item) {
            	this.$modal.show('Detail');
            }
        }
    }
</script>
<style>
	.col-md-4 {
		height: 300px;
	}

	.col-md-4:hover > div > div > h4 {
		color: red;
		text-decoration: underline;
	}

	.glyphicon-info-sign:hover {
		color: red;
	}
	.glyphicon-info-sign {
		font-size: large;
	}
</style>