<template>
    <div class="row row-horizon">
        <div class="col-xs-3" v-for="genre in Genres" :key="genre.id">
            <p @click="filterGenres(genre)" class="theme-text">{{genre.genre_name}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'Type'
        ],
        data () {
            return {
                Genres: [],
            }
        },
        mounted() {
            axios.get('/genres/' + this.Type)
            .then(response => {
                this.Genres = response.data
            })
        },
        methods: {
            filterGenres(genre) {
                console.log(genre.genre_id)
                Event.$emit('filterbyGenre', genre.genre_id)
            }
        }
    }
</script>
