<template>
    <div class="panel panel-default">
        <!-- main body  -->
        <div class="panel-body">
            <div v-if="Object.keys(Artists).length != 0" class="panel panel-default">
                <!-- New Movies Header -->
                <div class="panel-heading">
                    {{Movies.title}}
                    <router-link to="/browsepage/movies" class="pull-right">More</router-link>
                </div>
                <!-- Movies Body -->
                <div class="panel-body">
                    <div class="row row-horizon">
                        <div class="col-sm-4" v-for="movie in Movies.movies_result" :key="movie.id" @click="Itemclicked (movie, 'movies')">
                            <div class="card">
                              <img class="card-img-top" :src="movie.Poster" :alt="movie.Title">
                              <div class="card-block">
                                <h4 class="card-title">{{movie.Title}}</h4>
                              </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div v-if="Object.keys(Series).length != 0" class="panel panel-default">
                <!-- new Series Header -->
                <div class="panel-heading">
                    {{Series.title}}
                    <router-link to="/browsepage/series" class="pull-right">More</router-link>
                </div>
                <!-- new Series Body -->
                <div class="panel-body">
                    <div class="row row-horizon">
                        <div class="col-sm-4" v-for="serie in Series.series_result" :key="serie.id" @click="Itemclicked (serie, 'series')">
                            <div class="card">
                              <img class="card-img-top" :src="serie.Poster" :alt="serie.Title">
                              <div class="card-block">
                                <h4 class="card-title">{{serie.Title}}</h4>
                              </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                Movies: [],
                Series: [],
                Artists: []
            }
        },
        mounted() {
            axios.get('/newitems')
            .then(response => {
                for (var i = 0; i < response.data.length; i++) {
                    (response.data[i].type == "Movies") ? this.Movies = response.data[i] : (
                        ((response.data[i].type == "Series")) ?  this.Series = response.data[i] : this.Artists = response.data[i]  
                            );
                }
            })
        },
        methods: {
            Itemclicked (item, type) {
                Event.$emit('Itemclicked', {
                    "Item": item,
                    "Type": type
                })
            }
        }
    }
</script>
