<template>
    <div class="panel panel-default">
        <div class="panel-header">
          <h3>{{Item.Title}}</h3>
        </div>
        <div class="panel-body">
            <video id="video"
               width="100%" 
               height="400px" 
               :poster="Item.Poster"
               controls></video>
        </div>
        <div v-if="Type=='series'" >
          <div class="row row-horizon">
            <div class="col-xs-3" v-for="season in Seasons" :key="season.season">
              <p @click="getEpisodes(season.season)" class="theme-text">Season: {{season.season}}</p>
            </div>
          </div>
          <div v-show="Episodes.length > 0" class="series-section">
            <p v-for="(episode, index) in Episodes"  @click="initPlayer()" class="theme-text">Episode {{index}}: {{episode.Title}}</p>
          </div>
        </div>
        <div>
          
        </div>
        <div v-show="Episodes.length == 0">
          <p v-if="Item.Runtime"><b>Runtime:</b> {{Item.Runtime}}</p>
          <p v-if="Item.Year"><b>Year:</b> {{Item.Year}}</p>
          <p v-if="Item.Rated"><b>Rated:</b> {{Item.Rated}}</p>
          <p v-if="Item.Released"><b>Released:</b> {{Item.Released}}</p>
          <p v-if="Item.Actors"><b>Actors:</b> {{Item.Actors}}</p>
          <p v-if="Item.Plot"><b>Plot:</b> {{Item.Plot}}</p>
        </div>
    </div>
</template>
<script>
    export default {
        data () {
            return {
                Item: {},
                Type:'',
                Seasons: [],
                Episodes: []
            }
        },
        mounted() {
            this.Item.manifestUri = 'http://100.100.250.234:8080/movies/lg.mp4/Manifest.mpd'
            
            // Install built-in polyfills to patch browser incompatibilities.
            shaka.polyfill.installAll();

            // Check to see if the browser supports the basic APIs Shaka needs.
            if (shaka.Player.isBrowserSupported()) {
                // Everything looks good!
                var self = this
                
                Event.$on('Itemclicked', function (item) {
                  self.Item = item.Item
                  self.Type = item.Type
                  self.Seasons = []
                  self.Episodes = []
                  if(self.Type == 'series') {
                    self.getSeasons()
                  }
                  self.initPlayer()
                })
                
                this.initPlayer()
            } else {
                // This browser does not have the minimum set of APIs we need.
                console.error('Browser not supported!');
            }
        },
        methods: {
            initPlayer() {
              // Create a Player instance.
              var video = document.getElementById('video');
              var player = new shaka.Player(video);

              // Attach player to the window to make it easy to access in the JS console.
              window.player = player;

              // Listen for error events.
              player.addEventListener('error', this.onErrorEvent);

              // Try to load a manifest.
              // This is an asynchronous process.
              player.load(this.Item.manifestUri).then(function() {
              
              // This runs if the asynchronous load is successful.
              console.log('The video has now been loaded!');
              }).catch(this.onError);  // onError is executed if the asynchronous load fails.
            },

            getSeasons() {
              axios.get('/seasons/' + this.Item.id)
                .then(response => {
                    this.Seasons = response.data
                })
            },

            getEpisodes(season) {
              axios.get('/episodes/' + this.Item.id + '/' + season)
                .then(response => {
                    this.Episodes = response.data
                })
            },

            onErrorEvent(event) {
              // Extract the shaka.util.Error object from the event.
              onError(event.detail);
            },

            onError(error) {
              // Log the error.
              console.error('Error code', error.code, 'object', error);
            }
        }
    }
</script>
<style>
  h3 {
    color: red
  }
  .series-section {
    height: 250px;
    overflow-y: scroll;
  }
</style>