html,
body,
div {
  background-color: #222222;
}

navbar-default {
  background-color: transparent;
}

.panel-default > .panel-heading {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  background-color: transparent;
}

.panel-default > .panel-heading {
  color: red;
}

