html, body, div {
	background-color: #222222;
}

navbar-default {
	background-color: transparent;
}

.panel-default > .panel-heading {
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	background-color: transparent;
	color:white;
}

.navbar-default .navbar-nav > li > a:hover {
	color:red;
}

.panel-default > .panel-heading {
	color: white
}
.navbar-default .navbar-brand {
	color: white
}

.panel-default > .panel-heading a, a > h3{
	color: red
}

.theme-text:hover{
	color:red;
	text-decoration: underline;
}

a:hover{
 	text-decoration: none;
}

.screen-height {
	height: 90vh;
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    height: 5px;
    background: transparent;  /* optional: just make scrollbar invisible */

}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
    height: 50px;
}